# Understanding School Performance on Pennsylvania Standardized Tests

## Data Wrangling

The datasets are from https://futurereadypa.org/Home/DataFiles, which is a website launched by the Pennsylvania Department of Education.  

We will be working with two datasets, both corresponding to the 2018-2019 school year.
- School Performance Data for 2018-2019 School Year
- School Fiscal Data for 2018-2019 School Year

The outline of this notebook is as follows:

1. Import packages
2. School Performance Data 2018-2019
3. School Fiscal Data 2018-2019
4. Join dataframes
5. Data cleaning

## 1. Import packages

In [1]:
import pandas as pd
import numpy as np

## 2. School Performance Data 2018-2019

In [2]:
perf_data1 = pd.read_excel('../Data/FutureReadyPerformance_20182019.xlsx', sheet_name = 'Schools A to L')
perf_data2 = pd.read_excel('../Data/FutureReadyPerformance_20182019.xlsx', sheet_name = 'Schools L to Z')

We'll concatenate these two datasets into one dataset called 'perf_data'

In [3]:
#Concatenate two excel sheets into one dataframe

perf_data = pd.concat([perf_data1, perf_data2], ignore_index=True)

In [4]:
#Confirm that the length of perf_data1 + length of perf_data2 adds up to length of perf_data

len(perf_data1)+len(perf_data2)==len(perf_data)

True

In [5]:
# examine first few rows of dataframe

perf_data.head(20)

,DistrictName,Name,AUN,Schl,DataElement,DisplayValue
0,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,2 or More Races,5.67
1,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,American Indian/Alaskan Native,0.32
2,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (2 or M...,IS
3,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (All St...,redup
4,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Americ...,IS
5,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Asian),IS
6,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Black),greenup
7,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Econom...,redup
8,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Englis...,IS
9,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Hawaii...,IS
10,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Hispanic),IS
11,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (Studen...,greendown
12,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Growth Science/Biology (White),redup
13,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS
14,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,blue
15,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS
16,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS
17,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS
18,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS
19,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Annual Progress Percent Industry-Based Learnin...,IS

Let's take a look at what fields are shown in the 'DataElement' column.

In [6]:
print(perf_data['DataElement'].unique())

['2 or More Races' 'American Indian/Alaskan Native '
 'Annual Progress Growth Science/Biology (2 or More Races)'
 'Annual Progress Growth Science/Biology (All Student)'
 'Annual Progress Growth Science/Biology (American Indian/Alaska Native)'
 'Annual Progress Growth Science/Biology (Asian)'
 'Annual Progress Growth Science/Biology (Black)'
 'Annual Progress Growth Science/Biology (Economically Disadvantaged)'
 'Annual Progress Growth Science/Biology (English Learner)'
 'Annual Progress Growth Science/Biology (Hawaiian/Pacific Islander)'
 'Annual Progress Growth Science/Biology (Hispanic)'
 'Annual Progress Growth Science/Biology (Students with Disabilities)'
 'Annual Progress Growth Science/Biology (White)'
 'Annual Progress Percent Industry-Based Learning  (2 or More Races)'
 'Annual Progress Percent Industry-Based Learning  (All Student)'
 'Annual Progress Percent Industry-Based Learning  (Asian)'
 'Annual Progress Percent Industry-Based Learning  (Black)'
 'Annual Progress Percent Industry-Based Learning  (Economically Disadvantaged)'
 'Annual Progress Percent Industry-Based Learning  (English Learner)'
 'Annual Progress Percent Industry-Based Learning  (Hawaiian/Pacific Islander)'
 'Annual Progress Percent Industry-Based Learning  (Hispanic)'
 'Annual Progress Percent Industry-Based Learning  (Students with Disabilities)'
 'Annual Progress Percent Industry-Based Learning  (White)'
 'Annual Progress Percent Industry-Based Learning (American Indian/Alaska Native)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (2 or More Races)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (All Student)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (American Indian/Alaska Native)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Asian)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Black)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Economically Disadvantaged)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (English Learner)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Hawaiian/Pacific Islander)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Hispanic)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (Students with Disabilities)'
 'Annual Progress Percent Proficient or Advanced Science/Biology (White)'
 'Asian ' 'Black/African American ' 'Economically Disadvantaged'
 'English Language Growth and Attainment (All Student)' 'English Learner'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (2 or More Races)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (American Indian/Alaska Native)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Asian)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Black)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Economically Disadvantaged)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (English Learner)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Hispanic)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (Students with Disabilities)'
 'ESSA Goal Annual  Progress Percent Proficient or Advanced Mathematics/Algebra 1 (White)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (2 or More Races)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (All Student)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Asian)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Black)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (English Learner)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Hispanic)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (Students with Disabilities)'
 'ESSA Goal Annual Progress Growth ELA/Literature  (White)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (2 or More Races)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (All Student)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Asian)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Black)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (English Learner)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Hispanic)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (Students with Disabilities)'
 'ESSA Goal Annual Progress Growth Mathematics/Algebra 1 (White)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (2 or More Races)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (All Student)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Asian)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Black)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (English Learner)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Hispanic)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (Students with Disabilities)'
 'ESSA Goal Annual Progress Percent  Career Standards Benchmark (White)'
 'ESSA Goal Annual Progress Percent English Language Proficiency  (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Percent English Language Proficiency  (Asian)'
 'ESSA Goal Annual Progress Percent English Language Proficiency  (Black)'
 'ESSA Goal Annual Progress Percent English Language Proficiency  (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Percent English Language Proficiency  (Students with Disabilities)'
 'ESSA Goal Annual Progress Percent English Language Proficiency (2 or More Races)'
 'ESSA Goal Annual Progress Percent English Language Proficiency (All Student)'
 'ESSA Goal Annual Progress Percent English Language Proficiency (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Percent English Language Proficiency (Hispanic)'
 'ESSA Goal Annual Progress Percent English Language Proficiency (White)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (2 or More Races)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (Black)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (English Learner)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (Hispanic)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (Students with Disabilities)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort  (White)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort (All Students) '
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort (Asian)'
 'ESSA Goal Annual Progress Percent Graduation 4 -Year Cohort (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (2 or More Races)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (All Student)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (Asian)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (English Learner)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (Hispanic)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (Students with Disabilities)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature  (White)'
 'ESSA Goal Annual Progress Percent Proficient or Advanced ELA/Literature (Black)'
 'ESSA Goal Annual Progress Percent Regular Attendance  (Hawaiian/Pacific Islander)'
 'ESSA Goal Annual Progress Percent Regular Attendance (2 or More Races)'
 'ESSA Goal Annual Progress Percent Regular Attendance (All Student)'
 'ESSA Goal Annual Progress Percent Regular Attendance (American Indian/Alaska Native)'
 'ESSA Goal Annual Progress Percent Regular Attendance (Asian)'
 'ESSA Goal Annual Progress Percent Regular Attendance (Black)'
 'ESSA Goal Annual Progress Percent Regular Attendance (Economically Disadvantaged)'
 'ESSA Goal Annual Progress Percent Regular Attendance (Hispanic)'
 'ESSA Goal Annual Progress Percent Regular Attendance (Students with Disabilities)'
 'ESSA Goal Annual Progress Percent Regular Attendance (White)'
 'ESSA Goal Annual Progress Percent Regular Attendance(English Learner)'
 'Female (School)' 'Foster Care' 'Grades Offered' 'Hispanic ' 'Homeless'
 'Intermediate Unit Name' 'Intermediate Unit Website' 'Male (School)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (2 or More Races)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (All Student)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (American Indian/Alaska Native)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Asian)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Black)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Economically Disadvantaged)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (English Learner)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Hawaiian/Pacific Islander)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Hispanic)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (Students with Disabilities)'
 'Meeting Annual Academic Growth Expectations ELA/Literature  (White)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1  (All Student)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (2 or More Races)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (American Indian/Alaska Native)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Asian)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Black)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Economically Disadvantaged)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (English Learner)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Hawaiian/Pacific Islander)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Hispanic)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (Students with Disabilities)'
 'Meeting Annual Academic Growth Expectations Mathematics/Algebra 1 (White)'
 'Meeting Annual Academic Growth Expectations Science/Biology (2 or More Races)'
 'Meeting Annual Academic Growth Expectations Science/Biology (All Student)'
 'Meeting Annual Academic Growth Expectations Science/Biology (American Indian/Alaska Native)'
 'Meeting Annual Academic Growth Expectations Science/Biology (Black)'
 'Meeting Annual Academic Growth Expectations Science/Biology (Economically Disadvantaged)'
 'Meeting Annual Academic Growth Expectations Science/Biology (English Learner)'
 'Meeting Annual Academic Growth Expectations Science/Biology (Hawaiian/Pacific Islander)'
 'Meeting Annual Academic Growth Expectations Science/Biology (Hispanic)'
 'Meeting Annual Academic Growth Expectations Science/Biology (Students with Disabilities)'
 'Meeting Annual Academic Growth Expectations Science/Biology (White)'
 'Meeting Annual Academic Growth Expectations Science/Biology1 (Asian)'
 'Military Connected' 'Native Hawaiian or other Pacific Islander '
 'Number of Advanced Placement (AP)/ International Baccalaureate (IB) , and Dual Enrollment Unique Courses'
 'Number of Students Enrolled in a Concentrated  POS provided in LEA'
 'Number of Students Enrolled in a Concentrated POS Provided by CTC'
 'Percent Advanced  ELA/Literature  (All Student)'
 'Percent Advanced  ELA/Literature  (American Indian/Alaska Native)'
 'Percent Advanced  ELA/Literature  (Asian)'
 'Percent Advanced  ELA/Literature  (Black)'
 'Percent Advanced  ELA/Literature  (Ecomically Disadvantaged)'
 'Percent Advanced  ELA/Literature  (English Learner)'
 'Percent Advanced  ELA/Literature  (Hawaiian/Pacific Islander)'
 'Percent Advanced  ELA/Literature  (Hispanic)'
 'Percent Advanced  ELA/Literature  (Students with Disabilities)'
 'Percent Advanced  ELA/Literature  (White)'
 'Percent Advanced  ELA/Literature (2 or More Races)'
 'Percent Advanced  Industry-Based Competency Assessments (2 or More Races)'
 'Percent Advanced  Industry-Based Competency Assessments (All Student Group)'
 'Percent Advanced  Industry-Based Competency Assessments (American Indian/Alaska Native)'
 'Percent Advanced  Industry-Based Competency Assessments (Asian)'
 'Percent Advanced  Industry-Based Competency Assessments (Black)'
 'Percent Advanced  Industry-Based Competency Assessments (Ecomically Disadvantaged)'
 'Percent Advanced  Industry-Based Competency Assessments (English Learner)'
 'Percent Advanced  Industry-Based Competency Assessments (Hawaiian/Pacific Islander)'
 'Percent Advanced  Industry-Based Competency Assessments (Hispanic)'
 'Percent Advanced  Industry-Based Competency Assessments (Students with Disabilities)'
 'Percent Advanced  Industry-Based Competency Assessments (White)'
 'Percent Advanced  Mathematics/Algebra 1  (2 or More Races)'
 'Percent Advanced  Mathematics/Algebra 1  (All Student)'
 'Percent Advanced  Mathematics/Algebra 1  (American Indian/Alaska Native)'
 'Percent Advanced  Mathematics/Algebra 1  (Asian)'
 'Percent Advanced  Mathematics/Algebra 1  (Black)'
 'Percent Advanced  Mathematics/Algebra 1  (Ecomically Disadvantaged)'
 'Percent Advanced  Mathematics/Algebra 1  (English Learner)'
 'Percent Advanced  Mathematics/Algebra 1  (Hawaiian/Pacific Islander)'
 'Percent Advanced  Mathematics/Algebra 1  (Hispanic)'
 'Percent Advanced  Mathematics/Algebra 1  (Students with Disabilities)'
 'Percent Advanced  Mathematics/Algebra 1  (White)'
 'Percent Advanced  Science/Biology  (2 or More Races)'
 'Percent Advanced  Science/Biology  (American Indian/Alaska Native)'
 'Percent Advanced  Science/Biology  (Asian)'
 'Percent Advanced  Science/Biology  (Black)'
 'Percent Advanced  Science/Biology  (English Learner)'
 'Percent Advanced  Science/Biology  (Hawaiian/Pacific Islander)'
 'Percent Advanced  Science/Biology  (Hispanic)'
 'Percent Advanced  Science/Biology  (Students with Disabilities)'
 'Percent Advanced  Science/Biology  (White)'
 'Percent Advanced Science/Biology  (All Student)'
 'Percent Advanced Science/Biology  (Ecomically Disadvantaged)'
 'Percent AP/IB Participation '
 'Percent Career Standards Benchmark (2 or More Races)'
 'Percent Career Standards Benchmark (All Student)'
 'Percent Career Standards Benchmark (American Indian/Alaska Native)'
 'Percent Career Standards Benchmark (Asian)'
 'Percent Career Standards Benchmark (Black)'
 'Percent Career Standards Benchmark (Economically Disadvantaged)'
 'Percent Career Standards Benchmark (English Learner)'
 'Percent Career Standards Benchmark (Hawaiian/Pacific Islander)'
 'Percent Career Standards Benchmark (Hispanic)'
 'Percent Career Standards Benchmark (Students with Disabilities)'
 'Percent Career Standards Benchmark (White)'
 'Percent College Course Enrollment                                                                         '
 'Percent CTE Program of Study Concentration    '
 'Percent ELA/Literature Test Participation (2 or More Races)'
 'Percent ELA/Literature Test Participation (All Student Group)'
 'Percent ELA/Literature Test Participation (American Indian/Alaska Native)'
 'Percent ELA/Literature Test Participation (Asian)'
 'Percent ELA/Literature Test Participation (Black)'
 'Percent ELA/Literature Test Participation (Economically Disadvantaged)'
 'Percent ELA/Literature Test Participation (English Learner)'
 'Percent ELA/Literature Test Participation (Hawaiian/Pacific Islander)'
 'Percent ELA/Literature Test Participation (Hispanic)'
 'Percent ELA/Literature Test Participation (Students with Disabilities)'
 'Percent ELA/Literature Test Participation (White)'
 'Percent English Language Proficiency  (Students with Disabilities)'
 'Percent English Language Proficiency (2 or More Races)'
 'Percent English Language Proficiency (American Indian/Alaska Native)'
 'Percent English Language Proficiency (Asian)'
 'Percent English Language Proficiency (Black)'
 'Percent English Language Proficiency (Economically Disadvantaged)'
 'Percent English Language Proficiency (Hawaiian/Pacific Islander)'
 'Percent English Language Proficiency (Hispanic)'
 'Percent English Language Proficiency (White)'
 'Percent Grade 3 Reading  (2 or More Races)'
 'Percent Grade 3 Reading  (All Student)'
 'Percent Grade 3 Reading  (American Indian/Alaska Native)'
 'Percent Grade 3 Reading  (Asian)' 'Percent Grade 3 Reading  (Black)'
 'Percent Grade 3 Reading  (Hawaiian/Pacific Islander)'
 'Percent Grade 3 Reading  (Hispanic)'
 'Percent Grade 3 Reading  (Students with Disabilities)'
 'Percent Grade 3 Reading  (White)'
 'Percent Grade 3 Reading (Economically Disadvantaged)'
 'Percent Grade 3 Reading (English Learner)'
 'Percent Grade 7 Mathematics  (2 or More Races)'
 'Percent Grade 7 Mathematics  (All Student)'
 'Percent Grade 7 Mathematics  (Asian)'
 'Percent Grade 7 Mathematics  (Black)'
 'Percent Grade 7 Mathematics  (Students with Disabilities)'
 'Percent Grade 7 Mathematics  (White)'
 'Percent Grade 7 Mathematics (American Indian/Alaska Native)'
 'Percent Grade 7 Mathematics (Economically Disadvantaged)'
 'Percent Grade 7 Mathematics (English Learner)'
 'Percent Grade 7 Mathematics (Hawaiian/Pacific Islander)'
 'Percent Grade 7 Mathematics (Hispanic)'
 'Percent Graduates Enlisted in the Military (All Students)'
 'Percent Graduates Enlisted Military  (2 or More Races)'
 'Percent Graduates Enlisted Military (American Indian/Alaska Native)'
 'Percent Graduates Enlisted Military (Asian)'
 'Percent Graduates Enlisted Military (Black)'
 'Percent Graduates Enlisted Military (Economically Disadvantaged)'
 'Percent Graduates Enlisted Military (English Learner)'
 'Percent Graduates Enlisted Military (Hispanic)'
 'Percent Graduates Enlisted Military (Students with Disabilities)'
 'Percent Graduates Enlisted Military (White)'
 'Percent Graduates Enlisted Military(Hawaiian/Pacific Islander)'
 'Percent Graduates Entered Pennsylvania Workforce (All Students)'
 'Percent Graduates Post Secondary Education  (Asian)'
 'Percent Graduates Post Secondary Education  (Students with Disabilities)'
 'Percent Graduates Post Secondary Education  (White)'
 'Percent Graduates Post Secondary Education (2 or More Races)'
 'Percent Graduates Post Secondary Education (All Students)'

Here are the fields that we are concerned with, along with some definitions from https://futurereadypa.org/Home/Glossary

- <b>'2 or More Races':</b> The percent of multi-racial (not Hispanic) students in the school based on October Student Snapshot enrollment equals the number of multi-racial (not Hispanic) native students in the school divided by total school enrollment.
- <b>'American Indian/Alaskan Native ':</b> The percent of American Indian or Alaskan (not Hispanic) native students in the school based on October Student Snapshot enrollment equals the number of American Indian or Alaskan (not Hispanic) Native students in the school divided by total school enrollment.
- <b>'Asian ':</b> The percent of Asian native students (not Hispanic) in the school based on October Student Snapshot enrollment equals the number of Asian native students in the school divided by total school enrollment.
- <b>'Black/African American ':</b> The percent of Black or African American (not Hispanic) students in the school based on October Student Snapshot enrollment equals the number of Black or African American (not Hispanic) native students in the school divided by total school enrollment.
- <b>'Economically Disadvantaged':</b> The percent of students who are considered economically disadvantaged in the school based on October Student Snapshot enrollment equals the number of students identified as economically disadvantaged in the school divided by total school enrollment. It is at the discretion of the District to determine if a student is economically disadvantaged. 
- <b>'English Learner':</b> The percent of students enrolled in English as a Second Language program in the school reported on October Student Snapshot equals the number of students identified as English Language Learners in the school divided by total school enrollment. 
- <b>'Female (School)':</b> The percent of female students in the school based on October Student Snapshot enrollment equals the number of female students in the school divided by the total school population.
- <b>'Foster Care':</b> This data element indicates the percent of students with foster care experience.
- <b>'Hispanic ':</b> The percent of Hispanic students in the school based on October Student Snapshot enrollment equals the number of Hispanic native students in the school divided by total school enrollment.
- <b>'Homeless':</b> This data element indicates the percent of students who lack a fixed, regular, and adequate nighttime residence in accordance with the McKinney-Vento Act.
- <b>'Male (School)':</b> The percent of male students in the school based on October Student Snapshot enrollment equals the number of male students in the school divided by the total school population.
- <b>'Military Connected':</b> This data element indicates the percent of students with Military Family connections.
- <b>'Native Hawaiian or other Pacific Islander ':</b> The percent of Native Hawaiian or Other Pacific Islander (not Hispanic) students in the school based on October Student Snapshot enrollment equals the number of Native Hawaiian or Other Pacific Islander (not Hispanic) native students in the school divided by total school enrollment. 
- <b>'Percent of Gifted Students':</b> The percent of students in the school with a Gifted Individualized Education Plan (GIEP) based on October Student Snapshot enrollment equals the number of students in the school with a Gifted Individualized Education Program (GIEP) divided by the total number of students in the school.
- <b>'Percent Regular Attendance (All Student)':</b> This indicator is the percentage of students enrolled in a school for 90 or more school days and present 90 percent or more of these school days. 
- <b>'School Enrollment'</b>
- <b>'School Name'</b>
- <b>'Special Education':</b> The percent of school-age students receiving special education services in the school based on the Special Education December collection and the October Student Snapshot enrollment equals the number of students receiving special education services divided by the total school enrollment. 
- <b>'Title I School':</b> This indicator shows Title I status. Title I, Part A (Title I) of the Elementary and Secondary Education Act (ESEA) provides financial assistance to local educational agencies (LEAs) and schools with high numbers or high percentages of children from low-income families to help ensure that all children meet challenging state academic standards.
- <b>'White ':</b> The percent of white (not Hispanic) students in the school based on October Student Snapshot enrollment equals the number of white (not Hispanic) native students in the school divided by total school enrollment. 


- <u>TARGET VARIABLE:</u><b> 'Percent Proficient or Advanced ELA/Literature  (All Student)'</b>
- <u>TARGET VARIABLE:</u><b> 'Percent Proficient or Advanced Mathematics/Algebra 1  (All Student)'</b>

We will filter our dataframe to only include these data elements, and then we will convert the dataset into a 'wide' format.

In [7]:
data_elements = ['2 or More Races', 
                 'American Indian/Alaskan Native ',
                 'Asian ',
                 'Black/African American ', 
                 'Economically Disadvantaged',
                 'English Learner',
                 'Female (School)', 
                 'Foster Care',
                 'Hispanic ', 
                 'Homeless',
                 'Male (School)',
                 'Military Connected', 
                 'Native Hawaiian or other Pacific Islander ',
                 'Percent of Gifted Students',
                 'Percent Regular Attendance (All Student)',
                 'School Enrollment',
                 'Special Education',
                 'Title I School',
                 'White ',
                 'Percent Proficient or Advanced ELA/Literature  (All Student)', 
                 'Percent Proficient or Advanced Mathematics/Algebra 1  (All Student)']

perf_data_filtered = perf_data[perf_data['DataElement'].isin(data_elements)]

In [8]:
perf_data_filtered.head(25)

,DistrictName,Name,AUN,Schl,DataElement,DisplayValue
0,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,2 or More Races,5.67
1,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,American Indian/Alaskan Native,0.32
35,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Asian,1.46
36,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Black/African American,10.36
37,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Economically Disadvantaged,17.25
39,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,English Learner,0.24
127,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Female (School),60.65
128,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Foster Care,0.08
130,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Hispanic,7.85
131,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Homeless,2.19
134,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Male (School),39.35
168,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Military Connected,0.73
169,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Native Hawaiian or other Pacific Islander,0
344,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Percent of Gifted Students,2.35
348,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Percent Proficient or Advanced ELA/Literature ...,61.8
357,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Percent Proficient or Advanced Mathematics/Alg...,38.9
381,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Percent Regular Attendance (All Student),99.8
414,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,School Enrollment,1235
417,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Special Education,14.41
419,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,Title I School,No
421,21st Century Cyber CS,21st Century Cyber CS,124150002,7691,White,74.33
422,A W Beattie Career Center,A W Beattie Career Center,103020407,5273,2 or More Races,2.95
423,A W Beattie Career Center,A W Beattie Career Center,103020407,5273,American Indian/Alaskan Native,0.13
457,A W Beattie Career Center,A W Beattie Career Center,103020407,5273,Asian,1.67
458,A W Beattie Career Center,A W Beattie Career Center,103020407,5273,Black/African American,4.75

In [9]:
# confirm that the data elements were filtered correctly
len(perf_data_filtered.DataElement.unique()) == len(data_elements)

True

In [10]:
#convert dataframe into wide format
perf_data_pivot = perf_data_filtered.pivot(index=['DistrictName', 'AUN', 'Name', 'Schl'], columns='DataElement', values='DisplayValue')
perf_data_pivot = perf_data_pivot.reset_index().rename_axis(None, axis = 1)

In [11]:
perf_data_pivot.head(5)

,DistrictName,AUN,Name,Schl,2 or More Races,American Indian/Alaskan Native,Asian,Black/African American,Economically Disadvantaged,English Learner,...,Military Connected,Native Hawaiian or other Pacific Islander,Percent Proficient or Advanced ELA/Literature (All Student),Percent Proficient or Advanced Mathematics/Algebra 1 (All Student),Percent Regular Attendance (All Student),Percent of Gifted Students,School Enrollment,Special Education,Title I School,White
0,21st Century Cyber CS,124150002,21st Century Cyber CS,7691,5.67,0.32,1.46,10.36,17.25,0.24,...,0.73,0,61.8,38.9,99.8,2.35,1235,14.41,No,74.33
1,A W Beattie Career Center,103020407,A W Beattie Career Center,5273,2.95,0.13,1.67,4.75,37.74,1.54,...,0,0.39,Suppress:Data Does Not Apply,Suppress:Data Does Not Apply,68.6,0.26,779,39.54,No,87.55
2,ACT Academy Cyber CS,126514368,ACT Academy Cyber CS,8217,2.63,0,0,84.21,46.05,0,...,0,0,36.8,15.8,17.8,0,76,26.32,Yes,9.21
3,ASPIRA Bilingual Cyber Charter School,181519176,ASPIRA Bilingual Cyber Charter School,8148,0.82,0,1.1,15.62,48.77,30.96,...,0,0,11.1,4.9,68.1,0,365,47.4,Yes,1.64
4,Abington Heights School District,119350303,Abington Heights HS,5091,0.58,0.19,4.27,1.65,19.2,0.58,...,0,0,94.6,87.0,86.9,1.65,1031,13.77,No,91.17

In [12]:
perf_data_pivot.columns

Index(['DistrictName', 'AUN', 'Name', 'Schl', '2 or More Races',
       'American Indian/Alaskan Native ', 'Asian ', 'Black/African American ',
       'Economically Disadvantaged', 'English Learner', 'Female (School)',
       'Foster Care', 'Hispanic ', 'Homeless', 'Male (School)',
       'Military Connected', 'Native Hawaiian or other Pacific Islander ',
       'Percent Proficient or Advanced ELA/Literature  (All Student)',
       'Percent Proficient or Advanced Mathematics/Algebra 1  (All Student)',
       'Percent Regular Attendance (All Student)',
       'Percent of Gifted Students', 'School Enrollment', 'Special Education',
       'Title I School', 'White '],
      dtype='object')

In [13]:
perf_data_pivot.shape

(2966, 25)

Some of our column names have extra spaces in them.  We'll correct this here for ease of future reference.  We'll also rename 'Name' as 'SchoolName' and 'Schl' as 'SchoolNumber' for clarity.

In [14]:
# dictionary of column names to rename
rename_cols = {'Name':'SchoolName',
               'Schl':'SchoolNumber',
               'American Indian/Alaskan Native ':'American Indian/Alaskan Native',
               'Asian ':'Asian',
               'Black/African American ':'Black/African American',
               'Hispanic ':'Hispanic',
               'Native Hawaiian or other Pacific Islander ':'Native Hawaiian or other Pacific Islander',
               'Percent Proficient or Advanced ELA/Literature  (All Student)':'Percent Proficient or Advanced ELA/Literature (All Student)',
               'Percent Proficient or Advanced Mathematics/Algebra 1  (All Student)':'Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)',
               'White ':'White'
              }

perf_data_pivot.rename(columns=rename_cols, inplace=True)

## 3. School Fiscal Data 2018-2019

In [15]:
fiscal_data = pd.read_excel('../Data/School Fiscal Data SY 2018-2019.xlsx')

In [16]:
fiscal_data.head()

,DistrictName,SchoolName,Schl,AcademicYearId,AUN,DataElement,DisplayValue
0,Albert Gallatin Area SD,Albert Gallatin Area SHS,6001,19,101260303,Federal - Non-Personnel,35.22
1,Albert Gallatin Area SD,Albert Gallatin North MS,7607,19,101260303,Federal - Non-Personnel,41.89
2,Albert Gallatin Area SD,Albert Gallatin South MS,7608,19,101260303,Federal - Non-Personnel,41.81
3,Albert Gallatin Area SD,Friendship Hill El Sch,4922,19,101260303,Federal - Non-Personnel,160.13
4,Albert Gallatin Area SD,George J Plava El Sch,2129,19,101260303,Federal - Non-Personnel,108.38

In [17]:
fiscal_data['DataElement'].unique()

array(['Federal - Non-Personnel', 'Federal - Personnel',
       'Local - Non-Personnel', 'Local - Personnel',
       'State - Non-Personnel', 'State - Personnel'], dtype=object)

Using the data glossary provided by: https://futurereadypa.org/Home/Glossary

We can interpret the DataElements as follows:

- <b>Federal - Non-Personnel: </b>The federal amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on non-personnel.

- <b>Federal - Personnel: </b>The federal amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on personnel.

- <b>Local - Non-Personnel: </b>The local amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on non-personnel.

- <b>Local - Personnel: </b>The local amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on personnel.

- <b>State - Non-Personnel: </b>The state amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on non-personnel.

- <b>State - Personnel: </b>The state amount spent per pupil for public elementary and secondary education (pre-K through 12th grade) on personnel.

We'll now use the pivot method to convert this dataset into a wide format.

In [18]:
#convert fiscal_data dataframe into wide format
fiscal_data_pivot = fiscal_data.pivot(index=['Schl'], columns='DataElement', values='DisplayValue')
fiscal_data_pivot = fiscal_data_pivot.reset_index().rename_axis(None, axis = 1)

In [19]:
fiscal_data_pivot.head()

,Schl,Federal - Non-Personnel,Federal - Personnel,Local - Non-Personnel,Local - Personnel,State - Non-Personnel,State - Personnel
0,3,19.33,17.18,1649.15,6224.19,1214.51,4507.17
1,10,28.26,35.22,1783.21,8429.74,725.34,3634.26
2,13,0.00,0.00,985.70,6776.74,628.30,4319.59
3,14,0.00,0.00,1142.93,7761.11,728.52,4947.04
4,17,36.85,185.30,1519.99,7643.47,746.18,3752.25

In [20]:
fiscal_data_pivot.shape

(2804, 7)

## 4. Join dataframes

In [21]:
df = pd.merge(perf_data_pivot, fiscal_data_pivot, 
              left_on=['SchoolNumber'],
              right_on= ['Schl'], 
              how = 'inner')

In [22]:
df.drop('Schl', axis = 1, inplace = True)

In [23]:
df.head()

,DistrictName,AUN,SchoolName,SchoolNumber,2 or More Races,American Indian/Alaskan Native,Asian,Black/African American,Economically Disadvantaged,English Learner,...,School Enrollment,Special Education,Title I School,White,Federal - Non-Personnel,Federal - Personnel,Local - Non-Personnel,Local - Personnel,State - Non-Personnel,State - Personnel
0,21st Century Cyber CS,124150002,21st Century Cyber CS,7691,5.67,0.32,1.46,10.36,17.25,0.24,...,1235,14.41,No,74.33,0.00,0.00,0.00,0.00,0.00,0.00
1,ASPIRA Bilingual Cyber Charter School,181519176,ASPIRA Bilingual Cyber Charter School,8148,0.82,0,1.1,15.62,48.77,30.96,...,365,47.4,Yes,1.64,550.35,1467.44,15709.09,2864.41,0.00,0.00
2,Abington Heights School District,119350303,Abington Heights HS,5091,0.58,0.19,4.27,1.65,19.2,0.58,...,1031,13.77,No,91.17,79.66,205.91,2756.53,7125.69,1248.90,3228.43
3,Abington Heights School District,119350303,Abington Heights MS,6839,1.07,0.18,6.34,1.61,21.72,1.25,...,1119,14.66,Yes,86.86,78.66,203.33,2722.02,7036.48,1233.26,3188.01
4,Abington Heights School District,119350303,Clarks Summit El Sch,7570,1.47,0,7.67,2.36,20.94,5.6,...,339,10.62,Yes,81.42,79.86,206.43,2763.46,7143.61,1252.04,3236.55

In [24]:
df.shape

(2804, 31)

In [25]:
df.columns

Index(['DistrictName', 'AUN', 'SchoolName', 'SchoolNumber', '2 or More Races',
       'American Indian/Alaskan Native', 'Asian', 'Black/African American',
       'Economically Disadvantaged', 'English Learner', 'Female (School)',
       'Foster Care', 'Hispanic', 'Homeless', 'Male (School)',
       'Military Connected', 'Native Hawaiian or other Pacific Islander',
       'Percent Proficient or Advanced ELA/Literature (All Student)',
       'Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)',
       'Percent Regular Attendance (All Student)',
       'Percent of Gifted Students', 'School Enrollment', 'Special Education',
       'Title I School', 'White', 'Federal - Non-Personnel',
       'Federal - Personnel', 'Local - Non-Personnel', 'Local - Personnel',
       'State - Non-Personnel', 'State - Personnel'],
      dtype='object')

We'll reorder our columns so that features in the same category are grouped together and our target variables are at the end.

In [26]:
ordered_cols = ['DistrictName', 
                'AUN', 
                'SchoolName', 
                'SchoolNumber',
                'Title I School',
                'School Enrollment',
                
                'Male (School)',
                'Female (School)',
                
                'Percent Regular Attendance (All Student)',
                
                'American Indian/Alaskan Native', 
                'Asian', 
                'Black/African American',
                'Hispanic',
                'Native Hawaiian or other Pacific Islander',
                'White',
                '2 or More Races',
                
                'English Learner',
                'Special Education',
                'Percent of Gifted Students',
                
                'Economically Disadvantaged',
                'Foster Care',
                'Homeless',
                'Military Connected',
                
                'Local - Non-Personnel', 
                'Local - Personnel',
                'State - Non-Personnel', 
                'State - Personnel',
                'Federal - Non-Personnel',
                'Federal - Personnel', 
                
                'Percent Proficient or Advanced ELA/Literature (All Student)',
                'Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)'
               ]

In [27]:
df=df[ordered_cols]
df.head()

,DistrictName,AUN,SchoolName,SchoolNumber,Title I School,School Enrollment,Male (School),Female (School),Percent Regular Attendance (All Student),American Indian/Alaskan Native,...,Homeless,Military Connected,Local - Non-Personnel,Local - Personnel,State - Non-Personnel,State - Personnel,Federal - Non-Personnel,Federal - Personnel,Percent Proficient or Advanced ELA/Literature (All Student),Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)
0,21st Century Cyber CS,124150002,21st Century Cyber CS,7691,No,1235,39.35,60.65,99.8,0.32,...,2.19,0.73,0.00,0.00,0.00,0.00,0.00,0.00,61.8,38.9
1,ASPIRA Bilingual Cyber Charter School,181519176,ASPIRA Bilingual Cyber Charter School,8148,Yes,365,54.79,45.21,68.1,0,...,1.92,0,15709.09,2864.41,0.00,0.00,550.35,1467.44,11.1,4.9
2,Abington Heights School District,119350303,Abington Heights HS,5091,No,1031,53.83,46.17,86.9,0.19,...,0,0,2756.53,7125.69,1248.90,3228.43,79.66,205.91,94.6,87.0
3,Abington Heights School District,119350303,Abington Heights MS,6839,Yes,1119,52.28,47.72,90.9,0.18,...,0.09,0,2722.02,7036.48,1233.26,3188.01,78.66,203.33,76.0,53.9
4,Abington Heights School District,119350303,Clarks Summit El Sch,7570,Yes,339,57.52,42.48,96.2,0,...,0,0.88,2763.46,7143.61,1252.04,3236.55,79.86,206.43,75.2,61.0

## 5. Data Cleaning

### Duplicate rows

We'll first check for duplicate rows.

In [28]:
# Selecting duplicate rows except first occurrence based on all columns
duplicate = df[df.duplicated()]
  
print("Duplicate Rows :")
  
# Print the dataframe
duplicate

Duplicate Rows :

Empty DataFrame
Columns: [DistrictName, AUN, SchoolName, SchoolNumber, Title I School, School Enrollment, Male (School), Female (School), Percent Regular Attendance (All Student), American Indian/Alaskan Native, Asian, Black/African American, Hispanic, Native Hawaiian or other Pacific Islander, White, 2 or More Races, English Learner, Special Education, Percent of Gifted Students, Economically Disadvantaged, Foster Care, Homeless, Military Connected, Local - Non-Personnel, Local - Personnel, State - Non-Personnel, State - Personnel, Federal - Non-Personnel, Federal - Personnel, Percent Proficient or Advanced ELA/Literature (All Student), Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)]
Index: []

[0 rows x 31 columns]

Great! Our dataframe does not have any duplicate rows. Next we'll check for null values.

### Check datatypes

Here we'll check the data type for each of our variables.  We want to make sure that all of our columns that <i>should</i> be numeric contain only numeric values.  If otherwise, we will need to correct them.

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2804 entries, 0 to 2803
Data columns (total 31 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   DistrictName                                                        2804 non-null   object
 1   AUN                                                                 2804 non-null   int64
 2   SchoolName                                                          2804 non-null   object
 3   SchoolNumber                                                        2804 non-null   int64
 4   Title I School                                                      2801 non-null   object
 5   School Enrollment                                                   2799 non-null   object
 6   Male (School)                                                       2799 non-null   object
 7   Female (School)                                                     2799 non-null   object
 8   Percent Regular Attendance (All Student)                            2801 non-null   object
 9   American Indian/Alaskan Native                                      2799 non-null   object
 10  Asian                                                               2799 non-null   object
 11  Black/African American                                              2799 non-null   object
 12  Hispanic                                                            2799 non-null   object
 13  Native Hawaiian or other Pacific Islander                           2799 non-null   object
 14  White                                                               2799 non-null   object
 15  2 or More Races                                                     2799 non-null   object
 16  English Learner                                                     2799 non-null   object
 17  Special Education                                                   2799 non-null   object
 18  Percent of Gifted Students                                          2799 non-null   object
 19  Economically Disadvantaged                                          2799 non-null   object
 20  Foster Care                                                         2799 non-null   object
 21  Homeless                                                            2802 non-null   object
 22  Military Connected                                                  2799 non-null   object
 23  Local - Non-Personnel                                               2804 non-null   float64
 24  Local - Personnel                                                   2804 non-null   float64
 25  State - Non-Personnel                                               2804 non-null   float64
 26  State - Personnel                                                   2804 non-null   float64
 27  Federal - Non-Personnel                                             2804 non-null   float64
 28  Federal - Personnel                                                 2804 non-null   float64
 29  Percent Proficient or Advanced ELA/Literature (All Student)         2804 non-null   object
 30  Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)  2804 non-null   object
dtypes: float64(6), int64(2), object(23)
memory usage: 701.0+ KB

Many of our features that should be numeric are showing up as an 'object' type.  We'll check to make sure that those columns have values that are strictly numeric so that we can convert them.

In [30]:
# apply a lambda function to return boolean value for each column 
#identifying whether the column has values that are strictly numeric
df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

DistrictName                                                          False
AUN                                                                    True
SchoolName                                                            False
SchoolNumber                                                           True
Title I School                                                        False
School Enrollment                                                     False
Male (School)                                                         False
Female (School)                                                       False
Percent Regular Attendance (All Student)                              False
American Indian/Alaskan Native                                        False
Asian                                                                 False
Black/African American                                                False
Hispanic                                                              False
Native Hawaiian or other Pacific Islander                             False
White                                                                 False
2 or More Races                                                       False
English Learner                                                       False
Special Education                                                     False
Percent of Gifted Students                                            False
Economically Disadvantaged                                            False
Foster Care                                                           False
Homeless                                                              False
Military Connected                                                    False
Local - Non-Personnel                                                  True
Local - Personnel                                                      True
State - Non-Personnel                                                  True
State - Personnel                                                      True
Federal - Non-Personnel                                                True
Federal - Personnel                                                    True
Percent Proficient or Advanced ELA/Literature (All Student)           False
Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)    False
dtype: bool

The following columns that <i>should</i> be numeric seem to have non-numeric values in them:

- School Enrollment
- Male (School)
- Female (School)
- Percent Regular Attendance (All Student)
- American Indian/Alaskan Native
- Asian
- Black/African American
- Hispanic
- Native Hawaiian or other Pacific Islander
- White
- 2 or More Races
- English Learner
- Special Education
- Percent of Gifted Students
- Economically Disadvantaged
- Foster Care
- Homeless
- Military Connected
- Percent Proficient or Advanced ELA/Literature (All Student)
- Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)

We'll examine each of the non-numeric values in these columns.

In [36]:
#find rows where 'School Enrollment' is non-numeric
df[pd.to_numeric(df['School Enrollment'], errors='coerce').isnull()]

,DistrictName,AUN,SchoolName,SchoolNumber,Title I School,School Enrollment,Male (School),Female (School),Percent Regular Attendance (All Student),American Indian/Alaskan Native,...,Homeless,Military Connected,Local - Non-Personnel,Local - Personnel,State - Non-Personnel,State - Personnel,Federal - Non-Personnel,Federal - Personnel,Percent Proficient or Advanced ELA/Literature (All Student),Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)
158,Benton Area School District,116191004,Benton Area HS,8434,NaN,NaN,NaN,NaN,NaN,NaN,...,3.91,NaN,3013.27,14039.88,0.00,0.00,0.00,0.00,85.2,81.5
1044,Juniata County School District,111343603,East Juniata El Sch,8452,Yes,NaN,NaN,NaN,IS,NaN,...,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,54.9,46.9
1048,Juniata County School District,111343603,Juniata El Sch,8451,Yes,NaN,NaN,NaN,IS,NaN,...,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,45.3,33.2
2450,Tunkhannock Area School District,118667503,Tunkhannock Area Intermediate Center,8445,NaN,NaN,NaN,NaN,NaN,NaN,...,1.53,NaN,1509.31,6972.80,1794.03,8288.13,128.59,672.88,62.2,37.0
2643,West Greene School District,101308503,West Greene JSHS,8442,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,7763.56,11015.29,0.00,6054.59,52.85,90.40,64.0,43.2

All of the rows where 'School Enrollment' is non-numeric have missing values.  We can certainly look up current enrollment numbers, but this project is specifically using data from the 2018-2019 school year.  Additionally, because of the pandemic, current enrollment numbers may not be similar to that of the 2018-2019 school year.

As a result, we will drop these rows.  In a real situation, we would consult with the client before dropping these rows to receive their approval to do so.  Here, we will assume that we have received approval from the client to drop these rows.

In [38]:
#check shape of dataframe to compare before/after dropping rows
df.shape

(2804, 31)

In [39]:
#filter dataframe only for rows where 'School Enrollment' is not NaN
df = df[df['School Enrollment'].notna()]

In [40]:
#check shape again
df.shape

(2799, 31)

In [ ]:
df[pd.to_numeric(df['Percent Proficient or Advanced ELA/Literature (All Student)'], errors='coerce').isnull()]

In [ ]:
cols_to_convert = ['School Enrollment',
                   'Male (School)',
                   'Female (School)',
                   'Percent Regular Attendance (All Student)',
                   'American Indian/Alaskan Native',
                   'Asian',
                   'Black/African American',
                   'Hispanic',
                   'Native Hawaiian or other Pacific Islander',
                   'White',
                   '2 or More Races',
                   'English Learner',
                   'Special Education',
                   'Percent of Gifted Students',
                   'Economically Disadvantaged',
                   'Foster Care',
                   'Homeless',
                   'Military Connected',
                   'Percent Proficient or Advanced ELA/Literature (All Student)',
                   'Percent Proficient or Advanced Mathematics/Algebra 1 (All Student)'
                  ]

### Null values

In [ ]:
#check for null values
df.isnull().sum()

There are many columns with null values.  Fortunately, each column with missing values only has a few values missing. We'll first check all the rows with any missing values to see how many rows in total we need to deal with.

In [ ]:
#create boolean array identifying if a cell is null or not
is_NaN = df.isnull()

#create a boolean series identifying if any values in the row have null values or not
row_has_NaN = is_NaN.any(axis=1)

#filter our dataframe using these rows only
rows_with_NaN = df[row_has_NaN]
rows_with_NaN

Fortunately, we are only dealing with 5 rows with null values. We'll try to search for these missing values on https://futurereadypa.org and fill them in, one row at a time.

Additionally, we'll check the current datatype for each column to be consistent (eventually we will convert types as needed).

In [ ]:
df.info()

Since all of the columns that have missing values are currently objects (as opposed to numeric), we'll make sure that each value that we fill is a string.

### Null values for Benton Area HS (row index = 158)

In [ ]:
#examine all values for this row
df.iloc[158]

Using information from https://futurereadypa.org/School/FastFacts?id=168141038020233178156121215196097103235234010019 \
we can fill in the missing values for <b>Benton Area HS</b> as follows:

Field | Value 
--- | ---
Title I School | 'No'
School Enrollment | 191
Male (School) | 50.3
Female (School) | 49.7
Percent Regular Attendance (All Student) | 80
American Indian/Alaskan Native | 1.1
Asian | 1.1
Black/African American | 0.5
Hispanic | 0.5
Native Hawaiian or other Pacific Islander | 0
White | 96.9
2 or More Races | 0
English Learner | 0.5
Special Education | 17.8
Percent of Gifted Students | 6.3
Economically Disadvantaged | 5.8
Foster Care | 0.5
Military Connected | 0

In [ ]:
#Reassign missing values for Benton Area HS (index =158)
df.loc[158, 'Title I School'] = 'No'
df.loc[158, 'School Enrollment'] = '191'
df.loc[158, 'Male (School)'] = '50.3'
df.loc[158, 'Female (School)'] = '49.7'
df.loc[158, 'Percent Regular Attendance (All Student)'] = '80'
df.loc[158, 'American Indian/Alaskan Native'] = '1.1'
df.loc[158, 'Asian'] = '1.1'
df.loc[158, 'Black/African American'] = '0.5'
df.loc[158, 'Hispanic'] = '0.5'
df.loc[158, 'Native Hawaiian or other Pacific Islander'] = '0'
df.loc[158, 'White'] = '96.9'
df.loc[158, '2 or More Races'] = '0'
df.loc[158, 'English Learner'] = '0.5'
df.loc[158, 'Special Education'] = '17.8'
df.loc[158, 'Percent of Gifted Students'] = '6.3'
df.loc[158, 'Economically Disadvantaged'] = '5.8'
df.loc[158, 'Foster Care'] = '0.5'
df.loc[158, 'Military Connected'] = '0'

In [ ]:
#check Benton Area HS row for null values
df.iloc[158].isnull()

### Null values for East Juniata El Sch (row index = 1044)

In [ ]:
#examine all values for this row
df.iloc[1044]

Using information from https://futurereadypa.org/School/FastFacts?id=002025017064200034174118024104115239111044161197 \
we can fill in the missing values for <b>East Juniata El Sch</b> as follows:

Field | Value 
--- | ---
Title I School | 'Yes'
School Enrollment | 386
Male (School) | 51.0
Female (School) | 49.0
Percent Regular Attendance (All Student) | 88.1
American Indian/Alaskan Native | 0
Asian | 0
Black/African American | 0.5
Hispanic | 2.3
Native Hawaiian or other Pacific Islander | 0
White | 96.4
2 or More Races | 0.8
English Learner | 0.5
Special Education | 17.1
Percent of Gifted Students | 0.8
Economically Disadvantaged | 46.4
Foster Care | 0.5
Homeless | 0.8
Military Connected | 0

In [ ]:
#Reassign missing values for East Juniata El Sch (index = 1044)
df.loc[1044, 'Title I School'] = 'Yes'
df.loc[1044, 'School Enrollment'] = '386'
df.loc[1044, 'Male (School)'] = '51.0'
df.loc[1044, 'Female (School)'] = '49.0'
df.loc[1044, 'Percent Regular Attendance (All Student)'] = '88.1'
df.loc[1044, 'American Indian/Alaskan Native'] = '0'
df.loc[1044, 'Asian'] = '0'
df.loc[1044, 'Black/African American'] = '0.5'
df.loc[1044, 'Hispanic'] = '2.3'
df.loc[1044, 'Native Hawaiian or other Pacific Islander'] = '0'
df.loc[1044, 'White'] = '96.4'
df.loc[1044, '2 or More Races'] = '0.8'
df.loc[1044, 'English Learner'] = '0.5'
df.loc[1044, 'Special Education'] = '17.1'
df.loc[1044, 'Percent of Gifted Students'] = '0.8'
df.loc[1044, 'Economically Disadvantaged'] = '46.4'
df.loc[1044, 'Foster Care'] = '0.5'
df.loc[1044, 'Homeless'] = '0.8'
df.loc[1044, 'Military Connected'] = '0'

In [ ]:
#check East Juniata El Sch row for null values
df.iloc[1044].isnull()

### Null values for Juniata El Sch (row index = 1048)

In [ ]:
#examine all values for this row
df.iloc[1048]

Using information from https://futurereadypa.org/School/FastFacts?id=137061155227123184103080190016087091143076000206 \
we can fill in the missing values for <b>Juniata El Sch</b> as follows:

Field | Value 
--- | ---
School Enrollment | 632
Male (School) | 52.5
Female (School) | 47.5
Percent Regular Attendance (All Student) | 92.6
American Indian/Alaskan Native | 0
Asian | 0.3
Black/African American | 1.1
Hispanic | 12.8
Native Hawaiian or other Pacific Islander | 0
White | 83.7
2 or More Races | 2.1
English Learner | 6.8
Special Education | 20.9
Percent of Gifted Students | 0.8
Economically Disadvantaged | 49.5
Foster Care | 1.7
Homeless | 1.7
Military Connected | 0

In [ ]:
#Reassign missing values for Juniata El Sch (index = 1048)
df.loc[1048, 'School Enrollment'] = '632'
df.loc[1048, 'Male (School)'] = '52.5'
df.loc[1048, 'Female (School)'] = '47.5'
df.loc[1048, 'Percent Regular Attendance (All Student)'] = '92.6'
df.loc[1048, 'American Indian/Alaskan Native'] = '0'
df.loc[1048, 'Asian'] = '0.3'
df.loc[1048, 'Black/African American'] = '1.1'
df.loc[1048, 'Hispanic'] = '12.8'
df.loc[1048, 'Native Hawaiian or other Pacific Islander'] = '0'
df.loc[1048, 'White'] = '83.7'
df.loc[1048, '2 or More Races'] = '2.1'
df.loc[1048, 'English Learner'] = '6.8'
df.loc[1048, 'Special Education'] = '20.9'
df.loc[1048, 'Percent of Gifted Students'] = '0.8'
df.loc[1048, 'Economically Disadvantaged'] = '49.5'
df.loc[1048, 'Foster Care'] = '1.7'
df.loc[1048, 'Homeless'] = '1.7'
df.loc[1048, 'Military Connected'] = '0'

In [ ]:
#check Juniata El Sch row for null values
df.iloc[1048].isnull()

### Null values for Tunkhannock Area Intermediate Center (row index = 2450)

In [ ]:
#examine all values for this row
df.iloc[2450]

Using information from https://futurereadypa.org/School/FastFacts?id=103017255117056112045021037193154026055017043132# \
we can fill in the missing values for <b>Tunkhannock Area Intermediate Center</b> as follows:

Field | Value 
--- | ---
Title I School | 'Yes'
School Enrollment | 589
Male (School) | 51.4
Female (School) | 48.6
Percent Regular Attendance (All Student) | 89.0
American Indian/Alaskan Native | 0.2
Asian | 0
Black/African American | 0.5
Hispanic | 1
Native Hawaiian or other Pacific Islander | 0.3
White | 96.6
2 or More Races | 1.4
English Learner | 0
Special Education | 25.3
Percent of Gifted Students | 0.3
Economically Disadvantaged | 61.6
Foster Care | 1.4
Military Connected | 0.9

In [ ]:
#Reassign missing values for Tunkhannock Area Intermediate Center (index = 2450)
df.loc[2450, 'Title I School'] = 'Yes'
df.loc[2450, 'School Enrollment'] = '589'
df.loc[2450, 'Male (School)'] = '51.4'
df.loc[2450, 'Female (School)'] = '48.6'
df.loc[2450, 'Percent Regular Attendance (All Student)'] = '89.0'
df.loc[2450, 'American Indian/Alaskan Native'] = '0.2'
df.loc[2450, 'Asian'] = '0'
df.loc[2450, 'Black/African American'] = '0.5'
df.loc[2450, 'Hispanic'] = '1'
df.loc[2450, 'Native Hawaiian or other Pacific Islander'] = '0.3'
df.loc[2450, 'White'] = '96.6'
df.loc[2450, '2 or More Races'] = '1.4'
df.loc[2450, 'English Learner'] = '0'
df.loc[2450, 'Special Education'] = '25.3'
df.loc[2450, 'Percent of Gifted Students'] = '0.3'
df.loc[2450, 'Economically Disadvantaged'] = '61.6'
df.loc[2450, 'Foster Care'] = '1.4'
df.loc[2450, 'Military Connected'] = '0.9'

In [ ]:
#check Tunkhannock Area Intermediate Center row for null values
df.iloc[2450].isnull()

### Null values for West Greene JSHS (row index = 2643)

In [ ]:
#examine all values for this row
df.iloc[2643]

Using information from https://futurereadypa.org/School/FastFacts?id=126235128175164095235196111231094093227127075039 \
we can fill in the missing values for <b>West Greene JSHS</b> as follows:

Field | Value 
--- | ---
Title I School | 'No'
School Enrollment | 311
Male (School) | 54.7
Female (School) | 45.3
Percent Regular Attendance (All Student) | 76.9
American Indian/Alaskan Native | 0
Asian | 0.3
Black/African American | 0
Hispanic | 0.3
Native Hawaiian or other Pacific Islander | 0
White | 99.4
2 or More Races | 0
English Learner | 0
Special Education | 22.2
Percent of Gifted Students | 2.9
Economically Disadvantaged | 33.8
Foster Care |  0.3
Military Connected | 0

In [ ]:
#Reassign missing values for West Greene JSHS (index = 2643)
df.loc[2643, 'Title I School'] = 'No'
df.loc[2643, 'School Enrollment'] = '311'
df.loc[2643, 'Male (School)'] = '54.7'
df.loc[2643, 'Female (School)'] = '45.3'
df.loc[2643, 'Percent Regular Attendance (All Student)'] = '76.9'
df.loc[2643, 'American Indian/Alaskan Native'] = '0'
df.loc[2643, 'Asian'] = '0.3'
df.loc[2643, 'Black/African American'] = '0'
df.loc[2643, 'Hispanic'] = '0.3'
df.loc[2643, 'Native Hawaiian or other Pacific Islander'] = '0'
df.loc[2643, 'White'] = '99.4'
df.loc[2643, '2 or More Races'] = '0'
df.loc[2643, 'English Learner'] = '0'
df.loc[2643, 'Special Education'] = '22.2'
df.loc[2643, 'Percent of Gifted Students'] = '2.9'
df.loc[2643, 'Economically Disadvantaged'] = '33.8'
df.loc[2643, 'Foster Care'] = '0.3'
df.loc[2643, 'Military Connected'] = '0'

In [ ]:
#check West Greene JSHS row for null values
df.iloc[2632].isnull()

Now that we've filled all the null values, we'll double check one more time to make sure we do not have any more null values in our dataframe.

In [ ]:
df.isnull().sum()

### Check for outliers